<div class="container"></div>
<div class="card-body">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input
        type="text"
        id="email"
        placeholder="Email address"
        formControlName="email"
        class="form-control">
      <span
        *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
        class="help-block">
      <p>Please enter a valid email address</p>
    </span>
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        class="form-control">
      <span
        *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
        class="help-block">
      <p>Please enter a valid password</p>
    </span>
    </div>

    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit" [disabled]="!loginForm.valid">
      Sign in
    </button>
  </form>
</div>
