<form class="form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="input-group form-group">
    <input
      type="text"
      id="userName"
      placeholder="userName"
      formControlName="userName"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!registerForm.get('userName').valid && registerForm.get('userName').touched">
    <ngb-alert [type]="warning">Please enter a valid userName</ngb-alert>
  </div>

  <div class="input-group form-group">
    <input
      type="email"
      id="email"
      placeholder="Email address"
      formControlName="email"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
    <ngb-alert [type]="warning">Please enter a valid email</ngb-alert>
  </div>

  <div class="input-group form-group">
    <input
      type="password"
      id="password"
      placeholder="password"
      formControlName="password"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
    <ngb-alert [type]="warning">Please enter a valid password</ngb-alert>
  </div>

  <div class="input-group form-group">
    <input
      type="password"
      id="passwordRepeat"
      placeholder="passwordRepeat"
      class="form-control">
    <!--    <span-->
    <!--      *ngIf="!registerForm.get('passwordRepeat').valid && registerForm.get('passwordRepeat').touched"-->
    <!--      class="help-block">-->
    <!--      <p>Please enter a valid password</p>-->
    <!--    </span>-->
  </div>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit" [disabled]="!registerForm.valid">
    Sign in
  </button>
</form>
