<form class="form-thread-create" [formGroup]="replyForm" (ngSubmit)="onSubmit()">
  <label>Content:</label>
  <div class="input-group form-group">
    <textarea
      type="text"
      id="content"
      placeholder="content"
      formControlName="content"
      class="form-control">
    </textarea>
  </div>
  <div class="alert-danger" *ngIf="!replyForm.get('content').valid && replyForm.get('content').touched">
    <ngb-alert [type]="warning">Please enter at least 1 character</ngb-alert>
  </div>

  <div class="form-group">
    <label class="col-3 col-form-label">File</label>
    <div class="col-9">
      <input
        type="file"
        id="file"
        (change)="onSelectFile($event)"
        required
      >
    </div>
  </div>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit" [disabled]="!replyForm.valid">
    Create reply
  </button>
</form>
