<form class="form-register" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let name of user">

  <div class="input-group form-group">
    <input
      type="text"
      id="userName"
      placeholder="userName"
      formControlName="userName"
      value="{{name.userName}}"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!editUserForm.get('userName').valid && editUserForm.get('userName').touched">
    <ngb-alert [type]="warning">Please enter a valid userName</ngb-alert>
  </div>

  <div class="input-group form-group">
    <input
      type="email"
      id="email"
      placeholder="Email address"
      formControlName="email"
      value="{{name.email}}"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!editUserForm.get('email').valid && editUserForm.get('email').touched">
    <ngb-alert [type]="warning">Please enter a valid email</ngb-alert>
  </div>

<!--  <div class="input-group form-group">-->
<!--    <input-->
<!--      type="password"-->
<!--      id="password"-->
<!--      placeholder="password (leave empty if you don't want to change the password)"-->
<!--      formControlName="password"-->
<!--      class="form-control">-->
<!--  </div>-->
<!--  <div class="alert-danger" *ngIf="!editUserForm.get('password').valid && editUserForm.get('password').touched">-->
<!--    <ngb-alert [type]="warning">Please enter a valid password</ngb-alert>-->
<!--  </div>-->

  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit" [disabled]="!editUserForm.valid">
    Update
  </button>

  </div>
</form>
