<ul *ngIf="reply">
  <li *ngFor="let node of reply">
    <div *ngIf="node.replies != 0"></div>
    <div class="row">
      <div class="card-header col-12">
        <small class="text-center">{{node.postDatetime}}</small>
<!--        <small class="text-right">{{node.user.userName}}</small>-->
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img class="img-responsive imageWidth" src="{{node.image}}">
      </div>
      <div class="col-8 text-center">
        <p class="px-md-5">{{node.content}}</p>

        <div class="col text-center">

          <button *ngIf="(isLoggedIn$ | async)" type="button" class="btn btn-outline-primary"
                  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Reply to comment
          </button>
          <button *ngIf="(deleteComment$ | async)" type="button" class="btn btn-outline-danger"
                  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Delete comment
          </button>
        </div>

        <br>
        <div class="row">
          <div class="col text-center" id="collapseExample" [ngbCollapse]="isCollapsed">

              <app-reply-create [threadId]="node._id" [type]="'postReply'"></app-reply-create>

          </div>
        </div>
        <br>









      </div>
    </div>
    <app-reply [reply]="node.replies"></app-reply>
  </li>
</ul>
