<table class="table table-sm table-dark">
  <thead>
  <tr>
    <th scope="col">Boards</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let board of boards">
    <td>
      <a [routerLink]="['/board/' + board.name]">{{board.name}}</a>
    </td>
    <td>
      <p>{{board.description}}</p>
    </td>
  </tr>
  </tbody>
</table>
