<div *ngIf="(isLoggedIn$ | async)" class="">
<form class="form-register" [formGroup]="boardForm" (ngSubmit)="onSubmit()">
  <div class="input-group form-group">
    <input
      type="text"
      id="name"
      placeholder="name"
      formControlName="name"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!boardForm.get('name').valid && boardForm.get('name').touched">
    <ngb-alert [type]="warning">Please enter a valid BoardName</ngb-alert>
  </div>
  <div class="input-group form-group">
    <input
      type="text"
      id="description"
      placeholder="description"
      formControlName="description"
      class="form-control">
  </div>
  <div class="alert-danger" *ngIf="!boardForm.get('description').valid && boardForm.get('description').touched">
    <ngb-alert [type]="warning">Please enter a valid BoardName</ngb-alert>
  </div>

  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit" [disabled]="!boardForm.valid">
    Create
  </button>
</form>
</div>
