<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >{{ title }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">Home</a>
        </li>
        <li *ngIf="(isLoggedIn$ | async)" class="nav-item">
          <a class="nav-link" routerLink="/boardCreate" [routerLinkActive]="['active']">Board</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >About</a
          >
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
            <a class="nav-link" routerLink="/login" href="#">Log in</a>
          </li>
          <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
            <a class="nav-link" routerLink="/register" href="#">Register</a>
          </li>

          <li *ngIf="isLoggedIn$ | async as isLoggedIn" ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link" id="profile">{{ userName }}</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="profile">
              <a class="dropdown-item" routerLink="/userEdit" [routerLinkActive]="['active']">Edit {{ userName }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="" (click)="onLogout()">Logout</a>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>
