.container {
  margin-top: 80px;
}

.btn-link { color: rgba(255,255,255,.5); text-decoration: none; }

.btn-link.focus, .btn-link:focus, .btn-link.hover, .btn-link:hover { color: rgba(255,255,255,.75); text-decoration: none; box-shadow: none; }
