<div *ngFor="let board of boards">
  <blockquote class="blockquote text-center">Board: {{board.name }}</blockquote>
</div>

<div class="col text-center">

  <button *ngIf="(isLoggedIn$ | async)" type="button" class="btn btn-outline-primary"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Create Thread
  </button>
</div>


<br>
<div class="row">
  <div class="col text-center" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div *ngFor="let board of boards">
      <app-thread-create [board]="board"></app-thread-create>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div *ngFor="let board of boards">
      <div *ngFor="let thread of board.threads">
        <app-thread [thread]="thread"></app-thread>
      </div>
  </div>
</div>
