<div class="col text-center">

  <button *ngIf="(isLoggedIn$ | async)" type="button" class="btn btn-outline-primary"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Reply to thread
  </button>
</div>

<br>
<div class="row">
  <div class="col text-center" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div *ngFor="let board of thread">
      <app-reply-create [threadId]="board._id" [type]="'threadReply'"></app-reply-create>
    </div>
  </div>
</div>
<br>
    <app-reply [reply]="thread"></app-reply>
<!--  </div>-->
<!--</div>-->


